body {
  color: white;
}

#opponent {
  background-color: red;
  background-image: linear-gradient(-135deg, black, red);
  min-height: 50em;
}

#trainer {
  background-color: blue;
  background-image: linear-gradient(-135deg, black, blue);
  min-height: 50em;
}

input {
  text-align: center;
}

.customRow {
  height: 7em;
}

.header {
  background-color: black;
  transform: skewY(-2deg);
}

#modal {
  background-image: linear-gradient(90deg, red, blue);
  padding: 3rem;
}